In [1]:
import pandas as pd
PATH = "~/data/movies/dailyboxoffice/dt=20240101"
df = pd.read_parquet(PATH)
len(df)

50

In [4]:
df.head(5)

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,multiMovieYn,repNationCd
0,1,1,0,OLD,20203702,노량: 죽음의 바다,2023-12-20,2893509165,38.8,-686119312,-19.2,36926118105,290717,-59184,-16.9,3728850,1706,5793,NaN,NaN
1,2,2,0,OLD,20212866,서울의 봄,2023-11-22,2666429137,35.8,-649456909,-19.6,118016920547,262422,-64054,-19.6,12117201,1614,5444,NaN,NaN
2,3,3,0,OLD,20236146,신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~,2023-12-22,565417320,7.6,-69888800,-11.0,6071745009,58239,-6751,-10.4,626508,834,1671,NaN,NaN
3,4,4,0,OLD,20235735,아쿠아맨과 로스트 킹덤,2023-12-20,507984981,6.8,-156026099,-23.5,7967584753,49368,-14686,-22.9,772354,832,1611,NaN,NaN
4,5,5,0,OLD,20235596,트롤: 밴드 투게더,2023-12-20,273538754,3.7,-16945147,-5.8,3383181955,28988,-1952,-6.3,365927,660,981,NaN,NaN

In [5]:
df.tail(5)

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,salesChange,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,multiMovieYn,repNationCd
45,6,6,2,OLD,20202247,싱글 인 서울,2023-11-29,1903007,0.0,-409621,-17.7,3740536035,212,-17,-7.4,399787,9,9,NaN,K
46,7,7,-1,OLD,20228560,너와 나,2023-10-25,2625839,0.0,-3233861,-55.2,330224803,192,-337,-63.7,33811,8,8,NaN,K
47,8,8,1,OLD,20235697,엔시티 네이션 : 투 더 월드 인 시네마,2023-12-06,1364000,0.0,-3168000,-69.9,554784000,69,-144,-67.6,25099,8,8,NaN,K
48,9,9,6,OLD,20232077,어른 김장하,2023-11-15,214000,0.0,-58000,-21.3,230592472,31,-8,-20.5,27603,2,2,NaN,K
49,10,10,3,OLD,20227525,교토에서 온 편지,2023-12-06,207000,0.0,-67800,-24.7,58288197,29,-19,-39.6,6717,3,3,NaN,K

In [6]:
import pandas as pd

PATH = "~/data/movies/dailyboxoffice/dt=20240101"
df = pd.read_parquet(PATH)

# 첫 번째 그룹화 (multiMovieYn, repNationCd 별 count)
grouped_counts = df.groupby(['multiMovieYn', 'repNationCd'], dropna=False, observed=False) \
    .size() \
    .reset_index(name='count')

print("multiMovieYn, repNationCd 별 count:")
#print(grouped_counts.to_markdown(index=False))
print(grouped_counts.to_string(index=False))
print("-" * 30)


print("-" * 30)
print("전체 영화 정보 (movieCd 기준 NaN 값 대체):")
def consolidate_all_movie_info(group):
    first_row = group.iloc[0].copy()
    for col in ['multiMovieYn', 'repNationCd']:
        non_na_value = group[pd.notna(group[col])][col].iloc[0] if any(pd.notna(group[col])) else None
        if non_na_value is not None:
            first_row[col] = non_na_value
    return first_row[['movieNm', 'multiMovieYn', 'repNationCd']]

all_consolidated_df = df.groupby('movieCd').apply(consolidate_all_movie_info).reset_index()
#print(all_consolidated_df[['movieCd', 'movieNm', 'multiMovieYn', 'repNationCd']])
all_consolidated_df[['movieCd', 'movieNm', 'multiMovieYn', 'repNationCd']]

multiMovieYn, repNationCd 별 count:
multiMovieYn repNationCd  count
           N           F      0
           N           K      0
           N         NaN     10
           Y           F      0
           Y           K      0
           Y         NaN     10
         NaN           F     10
         NaN           K     10
         NaN         NaN     10
------------------------------
------------------------------
전체 영화 정보 (movieCd 기준 NaN 값 대체):

/tmp/ipykernel_2570821/1557652242.py:27: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  all_consolidated_df = df.groupby('movieCd').apply(consolidate_all_movie_info).reset_index()

     movieCd                               movieNm multiMovieYn repNationCd
0   19860125                                  쿼바디스            Y         NaN
1   20124722                             피아니스트의 전설            Y         NaN
2   20190324                                3일의 휴가            N           K
3   20202247                               싱글 인 서울          NaN           K
4   20203702                            노량: 죽음의 바다            N           K
5   20212866                                 서울의 봄            N           K
6   20227525                             교토에서 온 편지          NaN           K
7   20228560                                  너와 나          NaN           K
8   20232077                                어른 김장하          NaN           K
9   20233299                                  크레센도            Y           F
10  20234114                                    괴물            Y           F
11  20234664                        그대들은 어떻게 살 것인가            Y         NaN
12  20234673                      뽀로로 극장판 슈퍼스타 대모험            N           K
13  20235098                                  나폴레옹            N         NaN
14  20235290                             도티와 영원의 탑            N           K
15  20235596                            트롤: 밴드 투게더            N           F
16  20235693                             리빙: 어떤 인생            Y           F
17  20235697                엔시티 네이션 : 투 더 월드 인 시네마          NaN           K
18  20235735                          아쿠아맨과 로스트 킹덤            N           F
19  20235923                            사랑은 낙엽을 타고            Y           F
20  20235980                             말하고 싶은 비밀            N           F
21  20236045  바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!            Y           F
22  20236080                         류이치 사카모토: 오퍼스            Y           F
23  20236146  신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~            N           F
24  20236533                                립세의 사계            Y         NaN

In [7]:
# 'audiCnt' 기준으로 내림차순 정렬
df_ranked = df.sort_values(by='audiCnt', ascending=False)

# 'rnum' 컬럼 생성 (순위)
df_ranked['rnum'] = range(1, len(df_ranked) + 1)

# 'rank' 컬럼 생성 (동점 처리된 순위)
df_ranked['rank'] = df_ranked['audiCnt'].rank(method='dense', ascending=False).astype(int)

print("-" * 30)
print("관객수(audiCnt) 기준 순위 (rnum, rank)가 추가된 DataFrame:")
#print(df_ranked[['rnum', 'rank', 'movieCd', 'movieNm', 'audiCnt']].to_string(index=False))
df_ranked[['rnum', 'rank', 'movieCd', 'movieNm', 'audiCnt']]

------------------------------
관객수(audiCnt) 기준 순위 (rnum, rank)가 추가된 DataFrame:

    rnum  rank   movieCd                               movieNm  audiCnt
0      1     1  20203702                            노량: 죽음의 바다   290717
10     2     1  20203702                            노량: 죽음의 바다   290717
40     3     1  20203702                            노량: 죽음의 바다   290717
1      4     2  20212866                                 서울의 봄   262422
41     5     2  20212866                                 서울의 봄   262422
11     6     2  20212866                                 서울의 봄   262422
2      7     3  20236146  신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~    58239
30     8     3  20236146  신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~    58239
12     9     3  20236146  신차원! 짱구는 못말려 더 무비 초능력 대결전 ~날아라 수제김밥~    58239
13    10     4  20235735                          아쿠아맨과 로스트 킹덤    49368
31    11     4  20235735                          아쿠아맨과 로스트 킹덤    49368
3     12     4  20235735                          아쿠아맨과 로스트 킹덤    49368
4     13     5  20235596                            트롤: 밴드 투게더    28988
32    14     5  20235596                            트롤: 밴드 투게더    28988
14    15     5  20235596                            트롤: 밴드 투게더    28988
5     16     6  20234673                      뽀로로 극장판 슈퍼스타 대모험    11586
42    17     6  20234673                      뽀로로 극장판 슈퍼스타 대모험    11586
15    18     6  20234673                      뽀로로 극장판 슈퍼스타 대모험    11586
6     19     7  20235290                             도티와 영원의 탑    10704
16    20     7  20235290                             도티와 영원의 탑    10704
43    21     7  20235290                             도티와 영원의 탑    10704
7     22     8  20234114                                    괴물     8710
33    23     8  20234114                                    괴물     8710
20    24     8  20234114                                    괴물     8710
8     25     9  20236045  바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!     6471
21    26     9  20236045  바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!     6471
34    27     9  20236045  바다 탐험대 옥토넛 어보브 앤 비욘드: 버드, 옥토경보를 울려라!     6471
9     28    10  20235980                             말하고 싶은 비밀     3765
17    29    10  20235980                             말하고 싶은 비밀     3765
35    30    10  20235980                             말하고 싶은 비밀     3765
18    31    11  20190324                                3일의 휴가     3295
44    32    11  20190324                                3일의 휴가     3295
36    33    12  20236080                         류이치 사카모토: 오퍼스     3001
22    34    12  20236080                         류이치 사카모토: 오퍼스     3001
37    35    13  20233299                                  크레센도     2534
23    36    13  20233299                                  크레센도     2534
24    37    14  20235923                            사랑은 낙엽을 타고     1052
38    38    14  20235923                            사랑은 낙엽을 타고     1052
39    39    15  20235693                             리빙: 어떤 인생      729
25    40    15  20235693                             리빙: 어떤 인생      729
19    41    16  20235098                                  나폴레옹      540
26    42    17  20234664                        그대들은 어떻게 살 것인가      318
27    43    18  20124722                             피아니스트의 전설      294
28    44    18  20236533                                립세의 사계      294
29    45    19  19860125                                  쿼바디스      292
45    46    20  20202247                               싱글 인 서울      212
46    47    21  20228560                                  너와 나      192
47    48    22  20235697                엔시티 네이션 : 투 더 월드 인 시네마       69
48    49    23  20232077                                어른 김장하       31
49    50    24  20227525                             교토에서 온 편지       29